In [0]:
import numpy as np
import pandas as pd

In [0]:
data = pd.read_csv('movie_metadata.csv')

In [16]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [0]:
# keeping the columns that are useful in recommndation system
data = data.loc[:,['actor_1_name','actor_2_name','actor_3_name','director_name','genres','movie_title']]

In [18]:
data.head()

      actor_1_name  ...                                        movie_title
0      CCH Pounder  ...                                            Avatar
1      Johnny Depp  ...          Pirates of the Caribbean: At World's End
2  Christoph Waltz  ...                                           Spectre
3        Tom Hardy  ...                             The Dark Knight Rises
4      Doug Walker  ...  Star Wars: Episode VII - The Force Awakens    ...

[5 rows x 6 columns]

In [19]:
# dealing with null values
data.isnull().sum(axis=0)

actor_1_name       7
actor_2_name      13
actor_3_name      23
director_name    104
genres             0
movie_title        0
dtype: int64

In [0]:
# replacing null values in the all columns with string 'unknown'
data['actor_1_name'] = data['actor_1_name'].replace(np.nan, 'unknown')
data['actor_2_name'] = data['actor_2_name'].replace(np.nan, 'unknown')
data['actor_3_name'] = data['actor_3_name'].replace(np.nan, 'unknown')
data['director_name'] = data['director_name'].replace(np.nan, 'unknown')

In [0]:
# In the ‘genres’ column, replacing the ‘|’ with whitespace,
# so the genres would be considered different strings.
data['genres'] = data['genres'].replace('|', ' ')

In [0]:
# Now converting the ‘movie_title’ columns values to lowercase for searching simplicity.
data['movie_title'] = data['movie_title'].str.lower()

In [24]:
# all the movie_title values have a special character added to the end
# which needs to be removed
data['movie_title'][0]

'avatar\xa0'

In [0]:
data['movie_title'] = data['movie_title'].str[:-1]

In [0]:
data.to_csv('data.csv',index=False)